/* 深色模式按钮设置 */
#sma {
  background: #212529;
  width: 38px;
  height: 38px;
  display: block;
  position: fixed;
  border-radius: 50%;
  right: 15px;
  bottom: 170px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;
  cursor: pointer;
}

#sma .fa-moon-o {
  position: absolute;
  right: 8px;
  bottom: 8px;
  font-size: 1.48rem !important;
}

#sma .fa-lightbulb-o {
  position: absolute;
  right: 13px;
  bottom: 8px;
  font-size: 1.5rem !important;
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-comments:before {
  content: "\f086";
}

/* 深色主题配色 */
/* 字体颜色变灰白色 */
body.DarkMode h1,
body.DarkMode h2,
body.DarkMode h4,
body.DarkMode h5,
body.DarkMode h6,
body.DarkMode li,
body.DarkMode p,
body.DarkMode .typing-demo,
body.DarkMode #linkshear svg,
body.DarkMode #updown,
body.DarkMode .stretched-link,
body.DarkMode .mb-0,
body.DarkMode .button-text,
body.DarkMode .archive-item,
body.DarkMode .archive-item a,
body.DarkMode .page-nav,
body.DarkMode .page-nav>.extend,
body.DarkMode .page-nav>.page-number,
body.DarkMode .bottom-link a {
  color: #fff !important;
}

body.DarkMode .ptitle {
  color: #22a39f !important;
}
body.DarkMode .tagcard {
  border: 1px solid #fff !important;
  color: #fff;
}
/* 背景颜色变灰色 */
body.DarkMode .card,
body.DarkMode .position-static,
body.DarkMode .block-with-text:after {
  background-color: #0F172A !important;
}

/* 背景颜色变黑色 */
body.DarkMode,
body.DarkMode .circle {
  background-color: #212529 !important;
}

/* 改变透明度 */
body.DarkMode .aplayer {
  background: #2f3742 !important;
}

body.DarkMode img,
body.DarkMode strong {
  filter: brightness(0.7);
}

/* 统计图滤镜 */
body.DarkMode #post-calendar,
body.DarkMode #category-radar,
body.DarkMode #tags-chart,
body.DarkMode #categories-chart,
body.DarkMode #posts-chart {
  filter: invert(1);
}

/*toc目录滤镜*/
body.DarkMode .toc-widget {
  filter: invert(1);
}

/* Skill bar text color */
body.DarkMode .skillbar .skill-bar-percent {
  color: #000;
}

body.DarkMode .bgimg {
  background-image: linear-gradient(180deg, rgba(33, 37, 41, 0.01), rgba(33, 37, 41, 1) 85%),
    radial-gradient(ellipse at top left, rgba(13, 110, 253, 0.5), transparent 50%),
    radial-gradient(ellipse at top right, rgba(255, 228, 132, 0.5), transparent 50%),
    radial-gradient(ellipse at center right, rgba(112, 44, 154, 0.5), transparent 50%),
    radial-gradient(ellipse at center left, rgba(214, 51, 132, 0.5), transparent 50%);
}