.header-top {
  position: fixed;
  width: 100%;
  padding: 0 17%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index:9099999;
  transition: all .3s;
  .menu-list {
    a {
      padding: 0 20px;
    }
  }
 
}
.headertop {
    height: 0px;
    overflow: hidden;
    transition: all 0.3s;
    
    a {
      color: black;
    }
  }
  .headertop {
  background-image: radial-gradient(
      circle at 4% 15%,
      #eee 0%,
      #eee 1.5%,
      transparent calc(1.5% + 1px),
      transparent 100%
    ),
    radial-gradient(
      circle at 4% 50%,
      #eee 0%,
      #eee 1.5%,
      transparent calc(1.5% + 1px),
      transparent 100%
    ),
    radial-gradient(
      circle at 4% 85%,
      #eee 0%,
      #eee 1.5%,
      transparent calc(1.5% + 1px),
      transparent 100%
    ),
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 10%,
      #db676c 10%,
      #db676c calc(10% + 2px),
      transparent calc(10% + 2px),
      transparent 100%
    ),
    linear-gradient(180deg, white 12%, transparent 12%),
    repeating-linear-gradient(
      180deg,
      #91c1e1 0px,
      #91c1e1 1px,
      transparent 1px,
      transparent 30px
    ),
    linear-gradient(white, white);
    
  .menu-list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 67px;
    margin-left: 10%;
    line-height: 30px;
    a{
        font-family: EduTASBeginnera;
    }
  }
  .menu-top {
    margin-left: 10%;
  }
}


@media (max-width: 768px) {
    .menu-list {
      display: none;
    }
  }
  @media (min-width: 768px) {
    .menu-list {
      display: block;
    }
    .list {
      display: none;
    }
  }
  