<form class="d-flex">
    <div class="input-container">
        <input type="text" id="local-search-input" required="" placeholder="<%- theme.search.placeholder%> "
            aria-label="Search" />
        <label for="input" class="label">搜索</label>
        <div class="underline"></div>
    </div>
</form>
<div id="local-search-result"></div>