<form class="d-flex">
    <div class="input-container">
        <span class="bash-text" style="margin-bottom: 0 !important;">
            <span class="user">user</span><span class="vm">@ui-verse</span>:<span class="char">~</span>$
        </span>
        <span>
            <input class="input" placeholder="sudo rm -rf css/" type="text" id="local-search-input" required=""
            placeholder="<%- theme.search.placeholder%> " aria-label="Search">
        </span>
        

    </div>
</form>
<div id="local-search-result"></div>