<head>
    <script src='/js/Valine.min.js'></script>
  </head>
  <body>
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'FLEvpheUdzYALN4BFt0PLJtV-gzGzoHsz',
            appKey: 'yhYts1vsbCivgo7vO1lVHyx9'
        })
    </script>
  </body>
