.categorylove {
    width: 500px;
    height: 650px;
    position: relative;
    margin: 60px auto
}

.categorylove a {
    position: absolute;
    left: 0;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 0 0 1em #fff;
    animation: x-move 10s ease-in-out infinite alternate, y-move 20s linear infinite;
    animation-delay: calc(30s / var(--particles) * var(--n) * -1);
    user-select: auto
}

.categorylove a:first-child {
    color: #ff4500;
    font-size: 3em;
    text-shadow: 0 0 .1em #000, 0 0 1em #fff;
    z-index: 1
}

@keyframes x-move {
    to {
        left: 450px
    }
}

@keyframes y-move {
    0% {
        transform: translateY(180px)
    }
    10% {
        transform: translateY(45px)
    }
    15% {
        transform: translateY(5px)
    }
    18% {
        transform: translateY(0)
    }
    20% {
        transform: translateY(5px)
    }
    22% {
        transform: translateY(35px)
    }
    24% {
        transform: translateY(65px)
    }
    25% {
        transform: translateY(110px)
    }
    26% {
        transform: translateY(65px)
    }
    28% {
        transform: translateY(35px)
    }
    30% {
        transform: translateY(5px)
    }
    32% {
        transform: translateY(0)
    }
    35% {
        transform: translateY(5px)
    }
    40% {
        transform: translateY(45px)
    }
    50% {
        transform: translateY(180px)
    }
    71% {
        transform: translateY(430px)
    }
    72.5% {
        transform: translateY(440px)
    }
    75% {
        transform: translateY(450px)
    }
    77.5% {
        transform: translateY(440px)
    }
    79% {
        transform: translateY(430px)
    }
    100% {
        transform: translateY(180px)
    }
}

@media (max-width:767px) {
    .categorylove {
        width: 360px;
        height: 450px;
        margin: 30px auto
    }
    @keyframes x-move {
        to {
            left: 285px
        }
    }
}
