// postcss
#recent-posts {
  display: flex;
  flex-direction: column;
}
.recent-post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.tags {
  display: flex;
  border-top: 1px solid #f1f4f8;
  width: 100%;
  a {
    padding: 20px;
  }
}
.s-sticker {
  display: flex;
  align-items: flex-end;
  font-family: EduTASBeginnera;

  .s-sticker-city {
    width: 100px;
  }
}
#updown{
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%);
  animation: 1s linear 0s infinite up-0dowm;
}
.updown{
  position: relative;
}
.darklengux{
  text-align: center;
}
@keyframes up-0dowm {
  from {
    opacity: 1;
    top: 5px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}
@font-face {
    font-family:EduTASBeginnera;
     src:url("/font/PlaypenSans-VariableFont_wght.ttf");
 }
