// postcss
#recent-posts {
  display: flex;
  flex-direction: column;
}
.recent-post-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.tags {
  display: flex;
  border-top: 1px solid #f1f4f8;
  width: 100%;
  a {
    padding: 20px;
  }
}
.s-sticker {
  display: flex;
  align-items: flex-end;
  .s-sticker-city {
    width: 100px;
  }
}
// silder
.personalCard {
  border-radius: 10px;
  position: relative;
  height: 300px;
  background-color: #f8f9fa;

  .avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    width: 4rem;
    height: 4rem;
    border-radius: 2rem;
    background: #fff;
  }
  .bgcolor {
    position: absolute;
    width: 100%;
    height: 50%;
    background-image: radial-gradient(
      circle at top right,
      rgb(36, 9, 119) 0%,
      rgb(36, 9, 119) 48%,
      rgb(72, 7, 149) 48%,
      rgb(72, 7, 149) 53%,
      rgb(109, 5, 178) 53%,
      rgb(109, 5, 178) 56%,
      rgb(145, 2, 208) 56%,
      rgb(145, 2, 208) 69%,
      rgb(181, 0, 237) 69%,
      rgb(181, 0, 237) 100%
    );
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .introtittle {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    text-align: center;
  }
}
