* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  display: none;
}
.posts-img {
  width: 200px;
  height: 100%;
}
.posts-display {
  display: flex;
  flex-direction: column;
}
.pageluist {
  .col-md-6 {
    width: 100%;
    margin: auto;
  }
}
//
code {
  padding: 1px 5px;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  /* font-size: 0.91rem; */
  color: #e96900;
  background-color: #f8f8f8;
  border-radius: 2px;
}

pre code {
  padding: 0;
  color: #e8eaf6;
  background-color: #272822;
}

pre[class*="language-"] {
  padding: 1.2em;
  margin: 0.5em 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #e8eaf6;
  white-space: pre-wrap !important;
}

.line-numbers-rows {
  border-right-width: 0px !important;
}

.line-numbers {
  padding: 1.5rem 1.5rem 1.5rem 3.2rem !important;
  margin: 1rem 0 !important;
  background: #272822;
  overflow: auto;
  border-radius: 0.35rem;
  tab-size: 4;
}

pre {
  padding: 1.5rem !important;
  margin: 1rem 0 !important;
  background: #272822;
  overflow: auto;
  border-radius: 0.35rem;
  tab-size: 4;
}

pre::before {
  content: "";
  height: 16px;
  margin-bottom: 0;
  display: block;
}

pre::after {
  content: " ";
  position: absolute;
  border-radius: 50%;
  background: #ff5f56;
  width: 12px;
  height: 12px;
  top: 0;
  left: 12px;
  margin-top: 12px;
  -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
  box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}

code {
  padding: 1px 5px;
  font-family: Inconsolata, Monaco, Consolas, "Courier New", Courier, monospace;
  font-size: 0.91rem;
  color: #e96900;
  background-color: #f8f8f8;
  border-radius: 2px;
}

.code_copy {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: 1;
  filter: invert(50%);
  background-image: url("/img/stickies.svg");
  background-size: cover;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.code_lang {
  position: absolute;
  top: 1.2rem;
  right: 60px;
  line-height: 0;
  font-weight: bold;
  font-family: normal;
  z-index: 1;
  filter: invert(50%);
  cursor: pointer;
}

.code-expand {
  position: absolute;
  top: 10px;
  right: 5px;
  filter: invert(50%);
  padding: 7px 10px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s;
  transform: rotate(0deg);
  background-image: url("/img/hand-index.svg");
  background-size: cover;
}

.code-closed .code-expand {
  transform: rotate(-180deg) !important;
  transition: all 0.3s;
}

.code-closed pre::before {
  height: 0px;
}

pre code {
  padding: 0;
  color: #e8eaf6;
  background-color: #272822;
}

pre[class*="language-"] {
  padding: 1.2em;
  margin: 0.5em 0;
}

code[class*="language-"],
pre[class*="language-"] {
  color: #e8eaf6;
  white-space: pre-wrap !important;
}
.typing-demo {
  width: 22ch;
  animation: typing 8s steps(22) infinite,
    blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1em;
  text-align: center;
}
.wrapper {
  display: flex;
  justify-content: center;
}
#linkshear {
  img {
    width: 50px;
    padding: 0 10px;
  }
}

.archive-item {
  display: flex;
  justify-content: space-between;
}
#local-search-result {
  position: absolute;
  max-height: 960px;
  width: 480px;
  z-index: 1050;
  background-color: #ffffff;
  overflow: hidden;
}

@media (max-width: 768px) {
  #bd-placeholder-img {
    display: block;
  }
}
@media (min-width: 768px) {
  #bd-placeholder-img {
    display: none;
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  50% {
    width: 22ch;
  }
  100% {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@import "./bootstrap.min.css";
@import "./layout.scss";
@import "./index.scss";