<div class="col-md-6 tags">
    <% page.posts.sort('date', -1).limit(10).each(post=> { %>
          <a href="<%=url_for(post.path)%>">
            <%=post.article%>
          </a>
          <% }); %>
        </div>
        
    <div id="paginator">
        <%-partial('partials/recent-posts')%>
    </div>
    