
<article id="post">
    <h1><%=page.title%>
    </h1>
    <%-page.content%>
  </article>
  <div id="paginator">
    <%=paginator()%>
  
  </div>
  <head>
    ..
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
    ...
  </head>
  <body>
    ...
    <div id="vcomments"></div>
    <script>
        new Valine({
            el: '#vcomments',
            appId: 'FLEvpheUdzYALN4BFt0PLJtV-gzGzoHsz',
            appKey: 'yhYts1vsbCivgo7vO1lVHyx9'
        })
    </script>
  </body>
  <script type="text/javascript" src="/js/jquery-2.0.2.min.js"></script>
  <script type="text/javascript" src="/libs/codeBlock/codeBlockFuction.js"></script>
  <!-- 代码语言 -->
  <script type="text/javascript" src="/libs/codeBlock/codeBLang.js"></script>
  <!-- 代码块复制 -->
  <script type="text/javascript" src="/libs/codeBlock/codeCopy.js"></script>
  <script type="text/javascript" src="/libs/codeBlock/clipboard.min.js"></script>
  <!-- 代码块收缩 -->
  <script type="text/javascript" src="/libs/codeBlock/codeShrink.js"></script> 
  
  <!-- 代码块折行 -->
  <style type="text/css">code[class*="language-"], pre[class*="language-"] { white-space: pre !important; }</style>