<div class="bottom-link">
        <% theme.link.forEach(links=> { %>
            <a href=<%= links.href %>>
                <span>
                    <%= links.title %>
                </span>
            </a>
            <% }); %>
</div>