<div class="bottom-link">
    <div style="width: 100%;">
        <% theme.link.forEach(links=> { %>
            <a href=<%= links.href %>>
                <span>
                    <%= links.title %>
                </span>
            </a>
            <% }); %>
    </div>
</div>
<style>
    .bottom-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* background-color: antiquewhite; */   
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 15px;
    }
    .bottom-link a{
        /* padding: 0 10px; */
    }
</style>