<% if (theme.silder-tags) {%>
    <p class="ptitle">标签</p>
    <% if (page.posts !==undefined && page.posts.length> 0) { %>

      <% let tagCount={}; %>
        <% page.posts.each(tag=> {
          if (tagCount[tag.article]) {
          tagCount[tag.article] += 1;
          } else {
          tagCount[tag.article] = 1;
          }
          }); %>

          <div class="tagbox">
            <% Object.keys(tagCount).forEach(tag=> { %>
            <div class="tagcard"><%= tag %></div>   <span>，</span>
                <!-- <%= tagCount[tag] %> -->
                <% }); %>
          </div>
          <% } %>
    <%  } %>
    