<div id="bottom-outer">
    <div id="bottom-inner">
      Made with 💛 by
      <a href=<%=theme.Lenguxgithub%> > <%= theme.Lenguxname %> </a>
      and some fantastic contributors! <a href="http://hexo.io">hexo blog framework</a>
    </div>
  </div>