<div class="header-top">
  <div class="header-flex"><a href="/">
    <img class="icon" src=<%=theme.logo%> alt="">
  </a>
  </div>
  <div class="menu-list">
    <% Object.keys(theme.menu).forEach(key=> { %>
      <a href="<%=theme.menu[key]%>">
        <%=key%>
      </a>
      <% }); %>
  </div>
  <img class="list" id="list" src=<%=theme.svg.list %> alt="">
</div>