<div class="container headertop">
  <div class="menu-top">
     <div class="timer"></div>
  <div data-v-41ba7e2c="" id="he-plugin-simple" style="position: relative;">
    <script data-v-41ba7e2c="" type="text/javascript"
      src="https://webapi.amap.com/maps?v=1.4.14&amp;key=e2b04289e870b005374ee030148d64fd"></script>
    <div data-v-41ba7e2c="" class="s-sticker"
      style="font-size: 1.4em; cursor: pointer; padding: 10px; background-color: transparent;">
      <div data-v-41ba7e2c="" style="width: 0px;"></div>
      <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-tmp module"
        style="font-size: 16px; color: rgb(67, 67, 67); vertical-align: top;">28°C</div>
      <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-city module"
        style="font-size: 16px; color: rgb(67, 67, 67); vertical-align: top;">香港</div>
      <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-cond module" style="vertical-align: top;"><img
          data-v-7d48daab="" src="https://widget-s.qweather.net/img/plugin/190516/icon/c/101d.png"
          style="width: 24px; height: 24px;"></div>
      <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-alarm module" style="vertical-align: top;"><svg
          data-v-7d48daab="" viewBox="0 0 14 18" version="1.1" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" style="width: 18px; height: 18px;">
          <g data-v-7d48daab="" id="插件布局" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g data-v-7d48daab="" id="简约/深" transform="translate(-12.000000, -11.000000)" fill="#FF851B">
              <g data-v-7d48daab="" id="弹窗" transform="translate(10.000000, 10.000000)">
                <g data-v-7d48daab="" id="预警蓝" transform="translate(0.000000, 1.000000)">
                  <polygon data-v-7d48daab=""
                    points="12.2474772 0 10.0331249 7.33551418 15.75 8.03579407 4.99271202 18 7.75901324 10.247976 2.25 9.26041222">
                  </polygon>
                </g>
              </g>
            </g>
          </g>
        </svg></div>
      <div data-v-7d48daab="" data-v-41ba7e2c="" class="s-sticker-qlty module"
        style="color: rgb(67, 67, 67); font-size: 16px; vertical-align: top;">良</div>
      <div data-v-41ba7e2c="" style="width: 100%;"></div>
    </div>
    <div data-v-41ba7e2c=""><!----></div>
  </div>
  </div>
 

  <div class="menu-list">
    <% Object.keys(theme.menu).forEach(key=> { %>
      <a href="<%=theme.menu[key]%>">
        <%=key%>
      </a>
      <% }); %>
  </div>

</div>