<div class="container headertop">
  <div class="menu-top">
     <div class="timer"></div>
 
  </div>
 

  <div class="menu-list">
    <% Object.keys(theme.menu).forEach(key=> { %>
      <a href="<%=theme.menu[key]%>">
        <%=key%>
      </a>
      <% }); %>
        <% if (theme.darkmork) {%>
          <%- partial('partials/_global/dark')%>
            <% } %>
  </div>

</div>